<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
   <bean id="dobDT"  class="java.util.Date">
      <property name="year"  value="90"/>
      <property name="month"  value="10"/>
      <property name="date" value="5"/>

   </bean>
   
   <bean id="dojDT"  class="java.util.Date">
      <property name="year"  value="114"/>
      <property name="month"  value="10"/>
      <property name="date" value="5"/>
   </bean>
   
   <bean id="rajaACI"   class="com.nt.beans.AadharCardInfo">
        <constructor-arg value="-10"/>
        <constructor-arg><null/></constructor-arg>
        <constructor-arg ref="dobDT"/>
        <constructor-arg ref="dojDT"/>
         <constructor-arg><null/></constructor-arg> 
   </bean>
   
   

</beans>
