<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
   <!-- Cfg Target  class -->
   <bean id="bac"  class="com.nt.service.BillAmountCalculatorImpl"/>
   <!-- Cfg Advice class -->
   <bean id="expLogger"  class="com.nt.advice.CommonExceptionLogger"/>
   
   <!-- enable AOP -->
   <aop:config proxy-target-class="true" >
       <aop:aspect  ref="expLogger">
           <aop:after-throwing method="exceptionLogger"  throwing="iae" pointcut="execution(float com.nt.service.BillAmountCalculator.calcBillAmount(..))"/>
       </aop:aspect>
   </aop:config>		
		


</beans>
