<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	 <!-- cfg Target class -->
	 <bean id="loanApprover"  class="com.nt.service.LoanApprover"/>
	 <!-- Cfg Advice class -->
	 <bean id="auditAdvice"  class="com.nt.advice.AuditLogAdvice"/>
	 <!-- enable AOP -->
	 <aop:config>
	     <!-- <aop:pointcut expression="execution(String com.nt.service.LoanApprover.approveLoan(..))"  id="ptc"/>
	    -->
	    
	      <aop:pointcut expression="execution(String com.nt.service.LoanApprover.approveLoan(..)) and args(lType,amount,manager)"  id="ptc"/>
	   
	     <aop:aspect  ref="auditAdvice">
	          <aop:before method="audit"  pointcut-ref="ptc"/>
	     </aop:aspect>
	 </aop:config>	


</beans>
