<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

  <bean id="dt"  class="java.util.Date"/>

  <bean id="ci"   class="com.nt.beans.CoursesInfo">
       <property name="domain"  value="java"/>
       <property name="inistutition"  value="Naresh IT"/>
       <property name="courses">
           <list>
              <value>CoreJava</value>
              <value>AdvJava</value>
              <value>Spring</value>
              <value>Hibernate</value>
              <value>RestServices</value>
              <value>DesignPatterns</value>
              <value>RealtimeProject</value>
              <value>Hadoop</value>
           </list>
       </property>
       <property name="faculties">
           <array>
              <value>HK</value>
              <value>Venkatesh</value>
              <value>Nataraj</value>
              <value>Ashok</value>
              <value>Sai</value>
              <value>Gupta</value>
              <value>RamChander</value>
           </array>
       </property>
       <property name="prices">
          <map>
            <entry key="CoreJava"  value="1000"/>
             <entry key="AdvJava"  value="2000"/>
             <entry key="Spring"  value="1500"/>
             <entry key="Hibernate"  value="1200"/>
             <entry key="DesignPatterns"  value="750"/>
             <entry key="RestServices"  value="1000"/>
             <entry key="Hadoop"  value="3000"/>
             <entry key="RealtimeProject"  value="2500"/>
        </map>
       
       </property>
       
         <property name="durations">
          <map>
            <entry key="CoreJava"  value="3"/>
             <entry key="AdvJava"  value="3"/>
             <entry key="Spring"  value="4"/>
             <entry key="Hibernate"  value="3"/>
             <entry key="DesignPatterns"  value="1"/>
             <entry key="RestServices"  value="1"/>
             <entry key="Hadoop"  value="2"/>
             <entry key="RealtimeProject"  value="2"/>
        </map>
       
       </property>
       
       <property name="discount"  value="5"/>
       
  </bean>
  
  <bean id="st"  class="com.nt.beans.Student">
     <property name="regNo"  value="#{ T(java.lang.Math).random()*100}"/>
     <property name="name"  value="raja"/>
     <property name="availedCourses">
       <list>
          <value>#{ci.courses[0]}</value>
          <value>#{ci.courses[1]}</value>
          <value>#{ci.courses[2]}</value>
          <value>#{ci.courses[3]}</value>
       </list>
     </property>
     
     <property name="availedFaculties">
        <array>
           <value>#{ci.faculties[0]}</value>
           <value>#{ci.faculties[2]}</value>
        </array>
     </property>
     
     <property name="avaliedCoursesDurations">
        <map>
             <entry key="CoreJava"  value="#{ci.durations['CoreJava'] }"/>
             <entry key="AdvJava"  value="#{ci.durations['AdvJava'] }"/>
             <entry key="Spring"  value="#{ci.durations['Spring'] }"/>
             <entry key="Hibernate"  value="#{ci.durations['Hibernate'] }"/>
        </map>
     </property>
     
     <property name="coursesFeeTotal"  value="#{ci.prices['CoreJava']+ci.prices['AdvJava']+ci.prices['Spring']+ci.prices['Hibernate']}"/>
     <property name="coursesDurationTotal" value="#{ci.durations['CoreJava']+ci.durations['AdvJava']+ci.durations['Spring']+ci.durations['Hibernate']}"/>
     <property name="finalFee"  value="#{(ci.prices['CoreJava']+ci.prices['AdvJava']+ci.prices['Spring']+ci.prices['Hibernate'])-((ci.prices['CoreJava']+ci.prices['AdvJava']+ci.prices['Spring']+ci.prices['Hibernate'])*ci.discount/100.0f)}"/>
     <property name="date"  value="#{dt}"/>
  </bean>

</beans>
